@using Microsoft.AspNetCore.Http
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/Writer/Dashboard/Index/" class="brand-link">
        <img src="~/images/icons/android-chrome-192x192.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light"> .NET CORE 5</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/userimage/@Context.Session.GetString("ImageUrl")" class="img-circle elevation-2" alt="@Context.Session.GetString("Name") @Context.Session.GetString("Surname")">
            </div>
            <div class="info">
                <a href="/Writer/Profile/Index/" class="d-block">@Context.Session.GetString("Name") @Context.Session.GetString("Surname")</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a href="/Writer/Dashboard/Index/" class="nav-link @ViewData["DashboardActive"]">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Dashboard
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Writer/Profile/Index/" class="nav-link @ViewData["ProfileActive"]">
                        <i class="nav-icon fas fa-user"></i>
                        <p>
                            Profilim
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Writer/Message/ReceiverMessage/" class="nav-link @ViewData["MessageActive"]">
                        <i class="nav-icon fas fa-envelope"></i>
                        <p>
                            Mesajlarım
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/Writer/Login/LogOut/" class="nav-link">
                        <i class="nav-icon fas fa-sign-out-alt"></i>
                        <p>
                            Çıkış Yap
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>