@using EntityLayer.Concrete
@model List<WriterUser>



<div class="testimonials container">

    <div class="section-title">
        <h2>Referanslar</h2>
    </div>

    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
            @foreach (var item in Model)
            {
                <div class="swiper-slide">
                    <div class="testimonial-item">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            @item.Content
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="~/userimage/@item.ImageUrl" class="testimonial-img" alt="@item.Name @item.Surname">
                        <h3>@item.Name</h3>
                        <h4>@item.Job</h4>
                    </div>
                </div>
            }
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <div class="owl-carousel testimonials-carousel"></div>

</div>