@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Bootstrap4.Core
@using EntityLayer.Concrete
@model IPagedList<WriterUser>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body pb-0">
            <div class="row d-flex align-items-stretch">
                @foreach (var item in Model)
                {
                    <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                        <div class="card bg-light">
                            <div class="card-header text-muted border-bottom-0">
                                @item.Job
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-7">
                                        <h2 class="lead"><b>@item.Name @item.Surname</b></h2>
                                        <p class="text-muted text-sm"><b>Kullanıcı Adı :</b> @item.UserName </p>
                                        <ul class="ml-4 mb-0 fa-ul text-muted">
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-envelope"></i></span> @item.Email</li>
                                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span> @item.PhoneNumber</li>
                                        </ul>
                                    </div>
                                    <div class="col-5 text-center">
                                        <img src="~/userimage/@item.ImageUrl" alt="@item.Name @item.Surname" class="img-circle img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <a href="/Admin/AdminMessage/AddMessage/" class="btn btn-sm bg-teal">
                                        <i class="fas fa-comments"></i>
                                    </a>
                                    <a href="/Admin/Writer/Profile/@item.Id" class="btn btn-sm btn-primary">
                                        <i class="fas fa-user"></i> Profili Görüntüle
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)
        </div>
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
